<!DOCTYPE html>
<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html"/>
<html lang="en">
<head></head>
<body>
<f:section name="body">

    <div class="container">

        <h1>Bootstrap 3 UI Elements</h1>

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Panel Styles</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Default</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                                <div class="panel panel-info ">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Info</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Warning</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Success</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Danger</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">Panel Primary</h3>
                                    </div>
                                    <div class="panel-body">
                                        Panel content
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">List Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-sx-12">
                                <div class="panel panel-default ">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">With Linked Items</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group ">
                                            <a href="#" class="list-group-item active">
                                                Cras justo odio
                                            </a>
                                            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                                            <a href="#" class="list-group-item">Vestibulum at eros</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-sx-12">
                                <div class="panel panel-default ">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">With Badges &amp; Labels</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item">
                                                <span class="badge">14</span>
                                                Cras justo odio
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge">2</span>
                                                Dapibus ac facilisis in
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge">1</span>
                                                Morbi leo risus
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-sx-12">
                                <div class="panel panel-default ">
                                    <div class="panel-heading clearfix">
                                        <i class="icon-calendar"></i>
                                        <h3 class="panel-title">List Group</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Custom Content</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Tabs</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#fat" data-toggle="tab">@Fat</a>
                            </li>
                            <li>
                                <a href="#do" data-toggle="tab">@Mdo</a>
                            </li>
                            <li>
                                <a href="#bootply" data-toggle="tab">@Bootply</a>
                            </li>
                        </ul>
                        <br>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="fat">
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
                            </div>
                            <div class="tab-pane fade" id="mdo">
                                <p>Food truck fixie locavore Exercitation +1 labore velit, blog sartorial PBR leggings next Vegan fanny sapiente accusamus tattooed echo park.</p>
                            </div>
                            <div class="tab-pane fade" id="bootply">
                                <p>Etsy mixtape wayfarers Bootply.com tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Tabs Justified</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="myTab2" class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#home1" data-toggle="tab">Home</a>
                            </li>
                            <li class="">
                                <a href="#profile1" data-toggle="tab">Profile</a>
                            </li>
                            <li class="">
                                <a href="#messages" data-toggle="tab">Messages</a>
                            </li>
                        </ul>
                        <br>
                        <div id="myTabContent1" class="tab-content">
                            <div class="tab-pane fade active in" id="home1">
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
                            </div>
                            <div class="tab-pane fade" id="profile1">
                                <p>Food truck fixie locavore Exercitation +1 labore velit, blog sartorial PBR leggings next Vegan fanny sapiente accusamus tattooed echo park.</p>
                            </div>
                            <div class="tab-pane fade" id="messages">
                                <p>Etsy mixtape wayfarers gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Tabs Dropdown</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active">
                                <a href="#home" data-toggle="tab">Home</a>
                            </li>
                            <li class="">
                                <a href="#profile" data-toggle="tab">Profile</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                    <li>
                                        <a href="#dropdown1" tabindex="-1" data-toggle="tab">@fat</a>
                                    </li>
                                    <li>
                                        <a href="#dropdown2" tabindex="-1" data-toggle="tab">@mdo</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                        <div id="myTabContent2" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <p class="">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</p>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <p class="">Food truck fixie locavore Exercitation +1 labore velit, blog sartorial PBR leggings next Vegan fanny sapiente accusamus tattooed echo park.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown1">
                                <p class="">Etsy mixtape wayfarers gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown2">
                                <p class="">Trust fund seitan letterpress master cleanse gluten-free squid scenester freegan cosby sweater keffiyeh echo park vegan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Breadcrumbs</h3>
                    </div>
                    <div class="panel-body">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Library</a></li>
                            <li class="active">Data</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Pagination</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#" title="">2</a></li>
                            <li><a href="#" title="">3</a></li>
                            <li><a href="#" title="">4</a></li>
                            <li><a href="#" title="">5</a></li>
                            <li><a href="#" title="">6</a></li>
                            <li><a href="#" title="">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Pager</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="pager">
                            <li class="previous disabled"><a href="#">Older</a></li>
                            <li class="next"><a href="#">Newer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Pills</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#">Home <span class="badge">12</span></a></li>
                            <li><a href="#">About</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dropdown <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Pills Justified</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#">Sales</a></li>
                            <li class="active"><a href="#">Users <span class="badge">2</span></a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Disabled Links</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills">
                            <li><a href="#">Clickable</a></li>
                            <li class="active disabled"><a href="#">Disabled</a></li>
                            <li class="disabled"><a href="#">Disabled</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Modal</h3>
                    </div>

                    <div class="panel-body center-align-text">

                        <!-- Modal Small Start -->
                        <a data-toggle="modal" href="#showModal" class="btn btn-danger">Modal small</a>

                        <!-- Modal -->
                        <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="">Ã—</button>
                                        <h4 class="modal-title">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" title="">Close</button>
                                        <button type="button" class="btn btn-primary" title="">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Small End -->

                        <!-- Modal Big Start -->
                        <!-- Button trigger modal -->
                        <button class="btn btn-info" data-toggle="modal" data-target="#myModal" title="">
                            Modal large
                        </button>

                        <!-- Modal -->
                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="">x</button>
                                        <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Text in a modal</h4>
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                                        <h4>Popover in a modal</h4>
                                        <p>This <a href="#" role="button" class="btn btn-default popover-test" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a> should trigger a popover on click.</p>

                                        <h4>Tooltips in a modal</h4>
                                        <p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

                                        <hr>

                                        <h4>Overflowing text to show scroll behavior</h4>
                                        <p>Bootply mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- Modal End -->
                        <!-- Modal Big End -->

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Popovers</h3>
                    </div>

                    <div class="panel-body center-align-text">
                        <button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="" data-original-title="Popover on left">
                            Left
                        </button>
                        <button type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="" data-original-title="Popover on top">
                            Top
                        </button>
                        <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="" data-original-title="Popover on bottom">
                            Bottom
                        </button>
                        <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="" data-original-title="Popover on right">
                            Right
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Tooltips</h3>
                    </div>

                    <div class="panel-body center-align-text">
                        <a class="btn btn-info" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Left</a>
                        <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">Top</a>
                        <a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">Bottom</a>
                        <a class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Right</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Labels &amp; Badge</h3>
                    </div>

                    <div class="panel-body center-align-text">
                        <span class="label label-default">Default</span>
                        <span class="label label-primary">Primary</span>
                        <span class="label label-success">Success</span>
                        <span class="label label-info">Info</span>
                        <span class="label label-warning">Warning</span>
                        <span class="label label-danger">Danger</span>
                        <span class="badge badge-default">Default</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Labels Sizes</h3>
                    </div>

                    <div class="panel-body center-align-text">
                        <h1>Example heading <span class="label label-default">New</span></h1>
                        <h2>Example heading <span class="label label-info">New</span></h2>
                        <h3>Example heading <span class="label label-success">New</span></h3>
                        <h4>Example heading <span class="label label-warning">New</span></h4>
                        <h5>Example heading <span class="label label-danger">New</span></h5>
                        <h6>Example heading <span class="label label-primary">New</span></h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Lists</h3>
                    </div>

                    <div class="panel-body center-align-text list">
                        <ul>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        <ul>
                            <li>Lorem Ipsum
                                <ul>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                </ul>
                            </li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                        <ul>
                            <li>Lorem Ipsum
                                <ul>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum
                                        <ul>
                                            <li>Lorem Ipsum
                                                <ul>
                                                    <li>Lorem Ipsum</li>
                                                    <li>Lorem Ipsum</li>
                                                    <li>Lorem Ipsum</li>
                                                </ul>
                                            </li>
                                            <li>Lorem Ipsum</li>
                                            <li>Lorem Ipsum</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Lorem Ipsum</li>
                            <li>Lorem Ipsum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Buttons</h3>
                    </div>

                    <div class="panel-body center-align-text">
                        <a href="" class="btn btn-default" rel="" title="" target=""> mehr erfahren </a>
                        <p>&nbsp;</p>
                        <div style="background-color: #FCB600; padding: 15px;">
                            <a href="" class="btn btn__more--secondary" rel="" title="" target=""> Mehr erfahren </a>
                        </div>
                        <p>&nbsp;</p>
                        <div style="background-color: #EBEBEB; padding: 15px;">
                            <a href="" class="btn btn__more--secondary" rel="" title="" target=""> Mehr erfahren </a>
                        </div>
                        <p>&nbsp;</p>
                        <div style="background-color: #273b6d; padding: 15px;">
                            <a href="" class="btn btn__more--white" rel="" title="" target=""> Mehr erfahren </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-sx-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">Progress Bars</h3>
                    </div>

                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 35%">
                                <span class="sr-only">35% Complete (info)</span>
                            </div>
                            <div class="progress-bar progress-bar-success" style="width: 20%">
                                <span class="sr-only">20% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 10%">
                                <span class="sr-only">10% Complete (warning)</span>
                            </div>
                        </div>

                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>

                        <div class="progress progress-striped progress-small" style="margin-bottom: 20px;">
                            <div class="progress-bar progress-bar-info" style="width: 45%">
                                <span class="sr-only">35% Complete (info)</span>
                            </div>
                            <div class="progress-bar progress-bar-success" style="width: 25%">
                                <span class="sr-only">20% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 10%">
                                <span class="sr-only">10% Complete (warning)</span>
                            </div>
                        </div>

                        <div class="progress progress-mini progress-striped active">
                            <div class="progress-bar progress-bar-info" style="width: 55%">
                                <span class="sr-only">35% Complete (info)</span>
                            </div>
                            <div class="progress-bar progress-bar-success" style="width: 15%">
                                <span class="sr-only">20% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 5%">
                                <span class="sr-only">10% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

    </div>

</f:section>
</body>
</html>